.heading{
    text-align: center;
    margin-bottom: 30px;
}
.sort{
    margin-left:auto;
    margin-right:auto;
    width:50%;
}
.table{
    text-align: center;
    border-style: groove;
    font-size: larger;
}
.search{
    margin-bottom: 30px;
    margin-left:auto;
    margin-right:auto;
    width:80%;
}
.form-check-label{
    font-size: larger;
}
.tableHead{
    background-color: rgb(218, 218, 218);
}